.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
  border-radius: 3px;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 1;
  //i remove height 80vh; the content will define the hieght of page
}

.details {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-3);
  border-bottom: var(--line);
}

.description {
  font-size: 1.4rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

.user-reviews {
  background-color: yellowgreen;
  flex: 1;
}

//////////////////////
/// Paragaph
.paragaraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

//////////////////////
/// LIST
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;

    //older browser
    // background-image: url(/img/SVG/chevron-thin-right.svg);
    //  background-size: cover;

    //new browser -mask
    background-color: var(--color-primary);
    -webkit-mask-image: url(/img/SVG/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(/img/SVG/chevron-thin-right.svg);
    mask-size: cover;
  }
}

//////////////////////
/// Recommand
.recommand {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }

  &__count {
    margin-right: auto;
  }

  &__friend {
  }
}
